.article-card__link {
	box-shadow: none;
	width: 49%;
}

.article-card__media {
	height: 280px;
}

@media screen and (max-width: 992px) {
	.article-card__link {
		width: 100%;
	}

	.article-card__media {
		height: 150px;
	}
}

.tags__header {
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #ffffff;

	width: 100%;
}

.tags__footer {
	width: 100%;
}

.bio__wrapper {
	width: 50%;
	margin: auto;
}
